<!DOCTYPE html>
<html>
  <head>
    <title>Statistical Analysis</title>
    {% load static %}

    <script type="text/javascript" src="https://cdn.fusioncharts.com/fusioncharts/latest/fusioncharts.js"></script>

    <script type="text/javascript" src="https://cdn.fusioncharts.com/fusioncharts/latest/themes/fusioncharts.theme.fusion.js"></script>


  </head>
  <body>
    <!-- FusionCharts will render here-->
    <div id="chart-1"></div>
    <!-- dumping JavaScript code here -->
    {{ output|safe }}
  </body>
</html>
