{% extends 'base.html' %}
{% block content %}
{% load static %}

<style>
.dropbtn {
  background-color: #000000;
  color: white;
  padding: 50px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  align: center;
  opacity: 0.8;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #ffffff;
  color: black;
}

#myInput {
  border-box: box-sizing;
  background-image: url('searchicon.png');
  background-position: 14px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 14px 20px 12px 45px;
  border: none;
  border-bottom: 1px solid #ddd;
}

#myInput:focus {outline: 3px solid #ddd;}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  min-width: 230px;
  overflow: auto;
  border: 1px solid #ddd;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}

.container {
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}
</style>

<!-- <img src="{% static 'bubbles.jpg'%}" alt=""> -->
<div class="container">
  <img src="{% static 'bubbles.jpg'%}" alt="">
  <div class="centered">
    <h1><b>Keep Calm And Drink Water</b></h1>
    <div class="dropdown">
      <button onclick="myFunction()" class="dropbtn">Statistics For Each STATE</button>
      <div id="myDropdown" class="dropdown-content">
        <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">
        <a href="{% url 'state_chart' 'assam' %}" class="w3-bar-item w3-button">Assam</a>
        <!-- <a href="{% url 'state_chart' 'arunanchalpradesh' %}" class="w3-bar-item w3-button">Arunachal Pradesh</a> -->
        <a href="{% url 'state_chart' 'andhrapradesh' %}" class="w3-bar-item w3-button">Andhra Pradesh</a>

        <a href="{% url 'state_chart' 'bihar' %}" class="w3-bar-item w3-button">Bihar</a>
        <a href="{% url 'state_chart' 'chattisgarh' %}" class="w3-bar-item w3-button">Chattisgarh</a>
        <a href="{% url 'state_chart' 'gujarat' %}" class="w3-bar-item w3-button">Gujarat</a>
        <a href="{% url 'state_chart' 'haryana' %}" class="w3-bar-item w3-button">Haryana</a>
        <a href="{% url 'state_chart' 'himanchalpradesh' %}" class="w3-bar-item w3-button">Himachal Pradesh</a>
        <a href="{% url 'state_chart' 'jammuandkashmir' %}" class="w3-bar-item w3-button">Jammu KAshmir</a>
        <a href="{% url 'state_chart' 'jharkhand' %}" class="w3-bar-item w3-button">Jharkhand</a>
        <a href="{% url 'state_chart' 'karnataka' %}" class="w3-bar-item w3-button">Karnataka</a>
        <a href="{% url 'state_chart' 'kerala' %}" class="w3-bar-item w3-button">Kerala</a>
        <a href="{% url 'state_chart' 'madhyapradesh' %}" class="w3-bar-item w3-button">Madhya Pradesh</a>
        <a href="{% url 'state_chart' 'maharashtra' %}" class="w3-bar-item w3-button">Maharashtra</a>
        <a href="{% url 'state_chart' 'manipur' %}" class="w3-bar-item w3-button">Manipur</a>
        <a href="{% url 'state_chart' 'meghalaya' %}" class="w3-bar-item w3-button">Meghalaya</a>

        <a href="{% url 'state_chart' 'nagaland' %}" class="w3-bar-item w3-button">Nagaland</a>
        <a href="{% url 'state_chart' 'orissa' %}" class="w3-bar-item w3-button">Orissa</a>
        <a href="{% url 'state_chart' 'puducherry' %}" class="w3-bar-item w3-button">Puducherry</a>
        <a href="{% url 'state_chart' 'punjab' %}" class="w3-bar-item w3-button">Punjab</a>
        <a href="{% url 'state_chart' 'rajasthan' %}" class="w3-bar-item w3-button">Rajasthan</a>
        <a href="{% url 'state_chart' 'tamlinadu' %}" class="w3-bar-item w3-button">Tamil Nsdu</a>

        <a href="{% url 'state_chart' 'tripura' %}" class="w3-bar-item w3-button">Tripura</a>
        <a href="{% url 'state_chart' 'uttarpradesh' %}" class="w3-bar-item w3-button">Uttarpradesh</a>
        <a href="{% url 'state_chart' 'uttrakhand' %}" class="w3-bar-item w3-button">Uttrakhand</a>
        <a href="{% url 'state_chart' 'westbengal' %}" class="w3-bar-item w3-button">West Bengal</a>
      </div>
    </div>
  </div>

</div>



<script>
/* When the user clicks on the button,
toggle between hiding and showing the dropdown content */
function myFunction() {
  document.getElementById("myDropdown").classList.toggle("show");
}

function filterFunction() {
  var input, filter, ul, li, a, i;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  div = document.getElementById("myDropdown");
  a = div.getElementsByTagName("a");
  for (i = 0; i < a.length; i++) {
    txtValue = a[i].textContent || a[i].innerText;
    if (txtValue.toUpperCase().indexOf(filter) > -1) {
      a[i].style.display = "";
    } else {
      a[i].style.display = "none";
    }
  }
}
</script>


{% endblock %}
